doctype html
html
    head
        title LinkIt
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        label New Link&nbsp;
        input(type='text')#linkInput
        input(type='button' value='Post new Link')#saveLink
        ul
            if links
                each link, i in links
                    li(data-id='#{link.id}')
                        .control
                            button(type='button').upvoteButton &#x25B2;
                            .ranking= link.ranking
                            button(type='button').downvoteButton &#x25BC;
                        .linkDetails
                            h3= link.title
                            p= link.url
                            p= link.date
                            p= link.sender
            else
                li no links
        script(src="/javascripts/jquery-1.11.2.js")
        script(src="/javascripts/script.js")