for link in links
    li.media(id='link-#{link.id}', data-id='#{link.id}')
        .media-left
            label.sr-only(for='upvote-#{link.id}') Upvote #{link.title}
            if user && !link.rating._voted(user)
                button(type='button', data-id='#{link.id}', id='upvote-#{link.id}').btn.btn-default.btn-sm.upvotelink
                    span.glyphicon.glyphicon-chevron-up
            else
                button(type='button', data-id='#{link.id}', id='upvote-#{link.id}').btn.btn-default.btn-sm.upvotelink.disabled
                    span.glyphicon.glyphicon-chevron-up
            .votes
                if link.rating.value > 0
                    span.badge.btn-success(id='linkvotes-#{link.id}')=link.rating.value
                else if link.rating.value < 0
                    span.badge.btn-danger(id='linkvotes-#{link.id}')=link.rating.value
                else
                    span.badge(id='linkvotes-#{link.id}')=link.rating.value
            label.sr-only(for='downvote-#{link.id}') Downvote #{link.title}
            if user && !link.rating._voted(user)
                button(type='button', data-id='#{link.id}', id='downvote-#{link.id}').btn.btn-default.btn-sm.downvotelink
                    span.glyphicon.glyphicon-chevron-down
            else
                button(type='button', data-id='#{link.id}', id='downvote-#{link.id}').btn.btn-default.btn-sm.downvotelink.disabled
                    span.glyphicon.glyphicon-chevron-down
        .media-body
            if user && user == link.sender.username
                label.sr-only(for='delete-#{link.id}') Delete link #{link.title}
                button.btn.btn-danger.btn-sm.pull-right.deletelink(data-id='#{link.id}', id='downvote-#{link.id}') Delete
            h4.media-heading
                a(href=link.url, target='_blank')= link.title
            p=link.description
            p Created by&nbsp;
                a(href='users/' + link.sender.username)=link.sender.fullname
                | &nbsp;
                =link.submitTimeDisplay
else
    li Sorry no links yet