extends layout
block content
    ul.media-list
        for link in data.links
            li.media.well
                .media-left
                    button(type='button').btn.btn-default.btn-sm
                        span.glyphicon.glyphicon-chevron-up
                    .votes=link.rating
                    button(type='button').btn.btn-default.btn-sm
                        span.glyphicon.glyphicon-chevron-down
                .media-body
                    if user.username === link.sender.username
                        button.btn.btn-danger.btn-sm.pull-right Delete
                    h4.media-heading= link.title
                        | &nbsp;
                        a(href=link.url, target='_blank')= link.url
                    p=link.description
                    p Created by&nbsp;
                        a(href='users/' + link.sender.username)=link.sender.fullname
                        | &nbsp;
                        =link.date
        else
            p Sorry no links yet